__pycache__/blocks.cpython-37.pyc
__pycache__/log.cpython-37.pyc
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/test_batch
data/cifar-10-batches-py/readme.html
logs/
__pycache__/bfloat.cpython-37.pyc
_testbench.py
bfloat_test.py
